html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  height: 100%;
  background-color: blue; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; }

img {
  width: 100%; }

.container {
  display: block;
  width: 100%;
  margin-bottom: 20px; }

.nav-header, .nav-header--detail {
  display: block;
  width: 100%;
  margin: 0 auto;
  min-height: 50px;
  border-bottom: 1px solid #eee;
  box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.6); }
  .nav-header:after, .nav-header--detail:after {
    content: '';
    visibility: hidden;
    clear: both; }
  .nav-header nav, .nav-header--detail nav {
    display: inline; }

.nav-header--detail {
  position: absolute;
  box-shadow: none;
  border: none; }
  .nav-header--detail .mobile-return--btn {
    color: #ffffff; }
  .nav-header--detail #mobile-menu {
    color: #ffffff; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #999;
  opacity: 0.5; }

.trailer-modal {
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  width: 92%; }

.trailer-modal__header {
  display: block;
  position: relative;
  padding: 20px 0 20px 10px;
  text-align: left;
  border: 1px solid #eee;
  background-color: #ffffff; }
  .trailer-modal__header p {
    display: inline-block;
    width: 70%;
    overflow: scroll;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 15px;
    color: #000; }
  .trailer-modal__header button {
    position: absolute;
    top: 20px;
    right: 8px;
    outline: none;
    background-color: inherit;
    border: none;
    color: red; }
    .trailer-modal__header button span:after {
      content: 'x';
      font-weight: bold;
      font-size: inherit;
      margin-left: 5px;
      color: #000; }

.trailer-modal__content iframe {
  display: block;
  width: 100%;
  min-height: 180px; }

.search-container, .mobile-return--btn {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #333; }
  .search-container .fa, .mobile-return--btn .fa {
    font-size: 20px;
    line-height: 50px; }

.header-search__form {
  position: relative;
  width: 80%;
  max-width: 450px;
  margin: 0 auto; }

#header-search {
  position: absolute;
  top: 50px;
  display: none;
  z-index: 5;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #f1f1f1;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }
  #header-search .header-search__input {
    width: 100%;
    padding: 10px 15px;
    font: bold 14px Helvetica, sans-serif;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    outline: none; }
  #header-search.active {
    display: block; }

.typeahead-form {
  display: block;
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
  padding: 15px 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ffffff;
  overflow-y: scroll;
  text-align: left;
  font-family: Helvetica, sans-serif; }
  .typeahead-form p {
    display: inline-block;
    color: #000;
    text-transform: capitalize; }
  .typeahead-form li {
    padding: 7px 0 3px 20px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .typeahead-form li i {
      margin-right: 10px;
      font-size: 12px;
      vertical-align: top; }
    .typeahead-form li:last-child {
      border-bottom: none; }
  .typeahead-form h3 {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

#mobile-menu {
  position: relative;
  display: inline-block;
  float: right;
  padding: 15px;
  text-align: center;
  color: #333; }
  #mobile-menu .fa {
    font-size: 22px; }

.nav-menu__container, .nav-menu__container.detail {
  position: absolute;
  top: 0;
  display: none;
  width: 270px;
  height: 100%;
  padding: 60px 25px 15px;
  background-color: #081c24; }
  .nav-menu__container.active {
    display: block;
    z-index: 10; }

.nav-menu__container.detail {
  border-right: 2px solid #eee; }

.nav-menu__main {
  font-family: Helvetica, sans-serif;
  margin-bottom: 30px; }
  .nav-menu__main li {
    margin: 25px 0; }
    .nav-menu__main li:first-child {
      margin-top: 0; }
    .nav-menu__main li a {
      color: #ffffff;
      letter-spacing: 1px;
      font-family: Helvetica, sans-serif;
      font-size: 18px; }

.nav-menu__about {
  font-family: Helvetica, sans-serif; }
  .nav-menu__about li {
    margin: 15px 0; }
    .nav-menu__about li a {
      color: #afafaf;
      font-size: 15px;
      font-weight: 400; }

.attribute-credits {
  display: block;
  margin: 40px auto 0;
  width: 200px; }
  .attribute-credits img {
    width: 100%;
    padding: 20px; }

.index-container {
  margin: 0 auto;
  display: block;
  width: 100%; }

.index-movie__header {
  display: block;
  padding: 30px;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  font-weight: bold; }

.index-movies--title {
  color: red;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 10px; }

.index-tile__container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  /* box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3); */ }

.index-tile__overlay {
  position: absolute;
  bottom: 3px;
  width: 100%;
  padding: 10px 15px;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  /* background-color: rgba(0, 0, 0, 0.5); */ }

.index-tile__overlay--title {
  display: inline-block;
  width: 180px;
  padding: 5px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
  text-transform: capitalize; }

.index-tile__overlay--cast span {
  color: #ffffff;
  font-size: 13px;
  font-weight: 300; }

.movie__hero--container img {
  max-height: 500px; }

.movie__head {
  padding-top: 10px; }

.movie__head--genre p {
  padding: 0 10px 5px;
  font-weight: 300;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #EB5757; }
.movie__head--genre hr {
  width: 30px;
  height: 2px;
  border: none;
  margin-left: 0;
  background-color: #aaa; }

.movie__head--title {
  margin-top: 15px;
  padding: 0 10px;
  font-family: Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  line-height: 115%;
  color: #555; }
  .movie__head--title p {
    color: #999;
    font-size: 12px;
    font-style: italic; }

.movie__head--meta {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px; }
  .movie__head--meta:after {
    content: '';
    visibility: hidden;
    clear: both; }

.movie__head--score {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  vertical-align: middle; }
  .movie__head--score .btn-score {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 11px 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    border: 3px solid #528437;
    border-radius: 50%; }
  .movie__head--score .user-score {
    margin-left: 7px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle; }

.movie__head--rating {
  float: right;
  margin-top: 5px;
  border: 2px solid #000;
  padding: 3px 10px;
  font-family: Helvetica, sans-serif;
  text-align: center; }
  .movie__head--rating span {
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle; }

.mobile-head__toggle {
  text-align: center;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 30px; }
  .mobile-head__toggle a {
    display: inline-block;
    color: #ffffff;
    background-color: #000;
    padding: 12px 0;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer; }
  .mobile-head__toggle .active {
    background-color: #F2504A; }

.carousel-cast__container {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px 10px;
  overflow: scroll;
  white-space: nowrap; }
  .carousel-cast__container::-webkit-scrollbar {
    display: none; }

.carousel-cast__item {
  display: inline-block;
  width: 100px;
  min-height: 220px;
  margin-right: 20px;
  vertical-align: top;
  border: 1px solid #eee;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6); }
  .carousel-cast__item img {
    display: inline-block;
    width: 100%; }

.carousel-cast__info--names {
  white-space: normal;
  padding: 5px 7px; }
  .carousel-cast__info--names p {
    font: bold 13px/15px Helvetica, sans-serif; }
  .carousel-cast__info--names span {
    font: normal 11px Helvetica, sans-serif;
    color: #777; }

.movie-body__information {
  padding: 15px;
  font-family: Helvetica, sans-serif; }
  .movie-body__information h3 {
    font-size: 18px;
    line-height: 30px;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee; }
  .movie-body__information p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 140%; }
    .movie-body__information p:last-child {
      margin-bottom: 0; }

.movie-body__meta--container {
  border-bottom: 1px solid #eee;
  padding: 0 0 15px 0; }
  .movie-body__meta--container h3 {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    color: red;
    border-bottom: 1px solid #eee; }

.movie-body__meta--items {
  margin-left: 25px;
  padding: 10px 0; }
  .movie-body__meta--items li {
    margin: 15px 0; }
    .movie-body__meta--items li span {
      font-size: 14px;
      color: #777; }
      .movie-body__meta--items li span:first-child {
        font-weight: bold;
        color: #000; }
    .movie-body__meta--items li:first-child {
      margin-top: 0; }
    .movie-body__meta--items li:last-child {
      margin-bottom: 0; }

.movie-body__meta--link {
  color: red;
  line-height: 135%; }
  .movie-body__meta--link a {
    font-size: 14px; }

.movie-trailers__container {
  margin-top: 25px;
  padding: 15px;
  font-family: Helvetica, sans-serif;
  border-bottom: 1px solid #eee; }
  .movie-trailers__container h3 {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    color: red;
    border-bottom: 1px solid #eee; }

.movie-trailers__carousel {
  padding: 20px 0;
  min-height: 150px;
  overflow: scroll;
  white-space: nowrap;
  text-align: center; }

.movie-trailers__carousel--item {
  display: inline-block;
  border: 1px solid #000;
  width: 190px;
  height: 150px;
  margin: 5px;
  vertical-align: top; }
  .movie-trailers__carousel--item:first-child {
    margin-left: 5px; }
  .movie-trailers__carousel--item img {
    display: block;
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
